    :root{
        --cor-de-fundo:#323232;
        --hashtag:#6164f5;
    }

body{
    background-color:var(--cor-de-fundo);
}

    h1{
        color: var(--hashtag);
    }
      .canudo{
        display:flex
       
      }
 #texto{
            color: yellow;
        }

.contagem{background-color: bisque;
padding: 20px 0;
text-align: center;
}

.objetivos{
    padding: 20px;
    font-size: 18px;
}

.ativo{background-color: black;
color: beige;
}
.aba-conteudos{
    display: nome;
}

.ativa{
    display: block;
}